<div class="search-container">
  <div class="search-wrapper">
    <input 
      type="text" 
      class="search-input" 
      placeholder="Buscar..." 
      [(ngModel)]="searchQuery"
      (input)="onSearchInput()"
    >
    <button class="search-button">
      <img src="search.svg" alt="Buscar" class="search-icon">
    </button>
  </div>
  
  <!-- Icono de usuario posicionado absolutamente -->
  <div class="user-icon" (click)="handleUserClick()">
    <img src="botverse.svg" alt="Usuario">
    <span class="tooltip">{{ tooltipText }}</span>
  </div>
</div>