<div class="home" >
    <h1 class="home-text">WELCOME TO BOTVERSE </h1>
    <div class="container">
      <!-- Logo principal -->
      <div class="logo">
        <img src="botverse.svg" alt="Logo principal">
      </div>
    
      <!-- Iconos secundarios -->
      <div class="icon icon1">
        <img src="discord.svg" alt="Icono Discord">
      </div>
      <div class="icon icon2">
        <img src="github.svg" alt="Icono 2">
      </div>
      <div class="icon icon3">
        <img src="slack.svg" alt="Icono 3">
      </div>
      <div class="icon icon4">
        <img src="teams.svg" alt="Icono 4">
      </div>
    
      <!-- Flechas -->
      <div class="arrow-discord"></div>
      <div class="arrow-github"></div>
      <div class="arrow-slack"></div>
      <div class="arrow-teams"></div>
    </div>

    <button class="home-animation-button" (click)="onRedirectToLogin()">Ready for discover the Botverse?</button>    
</div>

