<div class="sidenav" [class.expanded]="!isCollapsed">
    <div class="logo-container">
        <button class="logo" (click)="toggleSidebar()">
            <img src="list.svg" alt="Menu" [class.rotated]="!isCollapsed">
        </button>
    </div>
    <div class="sidebar-expandable">
        <div class="expandable-content">
            <ng-content select="[sidebar-content]"></ng-content>
        </div>
    </div>
    <ul class="sidenav-nav">
        <!-- Versión contraída -->
        <li class="sidenav-discord" *ngIf="isCollapsed">
            <img src="discord.svg" alt="Discord">
        </li>
        <li class="sidenav-item" *ngIf="isCollapsed">
            <img src="github.svg" alt="GitHub">
        </li>
        <li class="sidenav-item" *ngIf="isCollapsed">
            <img src="slack.svg" alt="Slack">
        </li>
        <li class="sidenav-item" *ngIf="isCollapsed">
            <img src="teams.svg" alt="Teams">
        </li>

        <!-- Versión expandida -->
        <li class="sidenav-item" *ngIf="!isCollapsed">
            <img src="person.svg" alt="Personas">
        </li>
        <li class="sidenav-item" *ngIf="!isCollapsed">
            <img src="share.svg" alt="Compartir">
        </li>
        <li class="sidenav-item" *ngIf="!isCollapsed">
            <img src="star_filled.svg" alt="Favoritos">
        </li>
        <li class="sidenav-item" *ngIf="!isCollapsed">
            <img src="upload.svg" alt="Compartidos">
        </li>
    </ul>
</div>